.App {
  text-align: center;
  color: #D91474;
}

.App h1 {
  font-size: clamp(1em, 4vw, 3em);
  margin-bottom: 0.5em;
}

.App p {
  font-size: clamp(0.5em, 2vw, 1.5em);
  margin-bottom: 1em;
}

.App strong {
  font-size: clamp(0.75em, 2vw, 1.5em);
  margin-bottom: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: clamp(0.1em, 1vw, 3em);
  margin-bottom: 0.5em;
}